<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="ApiQaUrl" value="https://appqa.2sign.co.il/api/" />
    <add key="ApiLiveUrl" value="https://app.2sign.co.il/api/" />
    
  </appSettings>
</configuration>